body {
    font-family: Arial, sans-serif;
    background-color: gray;
    color: #ddd;
}
header {
    background-color: #888;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 2em;
}
nav {
    background-color: gray;
    padding: 5px;
    width: 200px;
    height: 100%;
    position: absolute;
    top: 70px;
    left: 0;
}
h2{
    text-align:center;
    background-color: darkgray;
    font-weight: bold;
    color: white;
    padding: 10px;

}
header{ 
    text-align:center;
    background-color: darkgray;
    font-weight: bold;
    color: white;
    padding: 5px;
}
nav h2 {
    color: #000000;
}
nav ul {
    padding: 0;
}
nav ul li {
    padding: 5px 0;
    font-weight: bold;
}
section {
    margin-left: 220px;
    padding: 20px;
    color: #000000;

}
footer {
    background-color: #666;
    color: #888;
    text-align: right;
    padding: 10px;
    font-size: 0.8em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
