<!DOCTYPE html>
<!-- 
  Jonathan Metzler-Kyle Lee-Suhana Kumar - MLK
  SoftDev
  Sep 2024
 -->

<html>

  <head>
    <title> {{ foo }} </title>
  </head>

  <body>
    <h1>{{ oogada }}</h1>
    <h4>Random Occupation: {{ boogada }}</h4>
    <table>
      <td>
        <tr>
          <th> occupation </th>
          <th> percentage </th>
          <th> link</th>
        </tr>
        <tbody>
          {{ collection|safe }}  <!-- This ensures that the HTML content is rendered correctly -->
      </tbody>
      </td>
            <!-- {% for item in collection %}
            {{ item }}
            {% endfor %} -->
    </table>
    
  </body>

</html>

